<!DOCTYPE html>
<html lang="ku">
<head>
    <meta charset="UTF-8">
    <title>TikTok Clone</title>
</head>
<body>

    <div style="padding: 20px; font-family: sans-serif;">
        {% if username %}
            <h2 style="color: #fe2c55;">سڵاو، {{ username }}!</h2>
        {% else %}
            <a href="/signup">Sign Up / Login</a>
        {% endif %}
    </div>

    <h1>ڤیدیۆیا ته‌</h1>
    <video width="320" height="500" controls>
        <source src="/static/video.mp4" type="video/mp4">
    </video>

</body>
</html>